<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garagem - TouroMotors</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <Header>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="../Imagens/Imagens/8.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    TouroMotors
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">TouroMotors</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link active" href="#">Garagem</a></li>
                            <li class="nav-item"><a class="nav-link" href="noticias.html">Notícias</a></li>
                            <li class="nav-item"><a class="nav-link" href="equipe.html">Equipe</a></li>
                            <li class="nav-item"><a class="nav-link" href="contato.html">Contato</a></li>
                            <li class="nav-item"><a class="nav-link" href="depoimento.html">Depoimento</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </Header>

    <!-- Título da Seção -->
    <div class="container mt-5 pt-5">
        <h1 class="text-center text-warning mb-4">Garagem TouroMotors</h1>
        <p class="text-center text-light">Confira nossa coleção exclusiva de veículos de luxo.</p>

        <!-- Grid de Produtos (Carros) -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white border border-warning">
                    <div class="image-box">
                        <img src="../Imagens/Imagens/carro1.png" class="card-img-top" alt="Carro 1">
                    </div>
                    <div class="corpo">
                        <h5 class="card-title text-warning">Lamborghini Aventador</h5>
                        <p class="card-text">Velocidade máxima de 350 km/h, motor V12 com 700 cv de potência.</p>
                        <a href="contato.html" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white border border-warning">
                    <div class="image-box">
                        <img src="../Imagens/Imagens/carro2.png" class="card-img-top" alt="Carro 2">
                    </div>
                    <div class="corpo">
                        <h5 class="card-title text-warning">Ferrari 488 Spider</h5>
                        <p class="card-text">Aceleração de 0 a 100 km/h em 3 segundos, motor V8 com 670 cv.</p>
                        <a href="contato.html" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white border border-warning">
                    <div class="image-box">
                        <img src="../Imagens/Imagens/carro3.png" class="card-img-top" alt="Carro 3">
                    </div>
                    <div class="corpo">
                        <h5 class="card-title text-warning">Porsche 911 Turbo</h5>
                        <p class="card-text">Com tração integral e motor turbo de 580 cv, atinge 330 km/h.</p>
                        <a href="contato.html" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mais Carros -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white border border-warning">
                    <div class="image-box">
                        <img src="../Imagens/Imagens/carro4.png" class="card-img-top" alt="Carro 4">
                    </div>
                    <div class="corpo">
                        <h5 class="card-title text-warning">Bugatti Chiron</h5>
                        <p class="card-text">Com mais de 1.500 cv de potência, é um dos carros mais rápidos do mundo.</p>
                        <a href="contato.html" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white border border-warning">
                    <div class="image-box">
                        <img src="../Imagens/Imagens/Faça um carro moderno, luxuoso e futurista de cor preta e dourada virada para o lado esquerdo _ (1).jpg" class="card-img-top" alt="Carro 5">
                    </div>
                    <div class="corpo">
                        <h5 class="card-title text-warning">McLaren 720S</h5>
                        <p class="card-text">Super leve e ágil, com motor V8 biturbo de 720 cv.</p>
                        <a href="contato.html" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white border border-warning">
                    <div class="image-box">
                        <img src="../Imagens/Imagens/Faça um carro moderno, luxuoso e futurista de cor preta e dourada _.jpg" class="card-img-top" alt="Carro 6">
                    </div>
                    <div class="corpo">
                        <h5 class="card-title text-warning">Aston Martin DB11</h5>
                        <p class="card-text">Elegância e performance com motor V12 de 630 cv.</p>
                        <a href="contato.html" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- Título da Seção -->
    <div class="container mt-5 pt-5">
        <h1 class="text-center text-warning mb-4">Garagem TouroMotors</h1>
        <p class="text-center text-light">Confira nossa coleção exclusiva de Motos e Caminhonetes.</p>

        <!-- Grid de Produtos (Carros) -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white border border-warning">
                    <div class="image-box">
                        <img src="../Imagens/Imagens/Faça uma moto moderna, luxuosa e futurista de cor preta e dourada virada para o lado esquerdo _.jpg" class="card-img-top" alt="Carro 1">
                    </div>
                    <div class="corpo">
                        <h5 class="card-title text-warning">Lamborghini Aventador</h5>
                        <p class="card-text">Velocidade máxima de 350 km/h, motor V12 com 700 cv de potência.</p>
                        <a href="contato.html" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white border border-warning">
                    <div class="image-box">
                        <img src="../Imagens/Imagens/Faça uma moto moderno e luxuosa sem uma marca de cor preta e dourada_.jpg" class="card-img-top" alt="Carro 2">
                    </div>
                    <div class="corpo">
                        <h5 class="card-title text-warning">Ferrari 488 Spider</h5>
                        <p class="card-text">Aceleração de 0 a 100 km/h em 3 segundos, motor V8 com 670 cv.</p>
                        <a href="contato.html" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white border border-warning">
                    <div class="image-box">
                        <img src="../Imagens/Imagens/Faça uma bicicleta moderna, luxuosa e futurista de cor preta e dourada virada para o lado esquerdo _.jpg" class="card-img-top" alt="Carro 3">
                    </div>
                    <div class="corpo">
                        <h5 class="card-title text-warning">Porsche 911 Turbo</h5>
                        <p class="card-text">Com tração integral e motor turbo de 580 cv, atinge 330 km/h.</p>
                        <a href="contato.html" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mais Carros -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white border border-warning">
                    <div class="image-box">
                        <img src="../Imagens/Imagens/Faça uma caminhonete moderna, luxuosa e futurista de cor preta e dourada virada para o lado esquerdo _ (2).jpg" class="card-img-top" alt="Carro 4">
                    </div>
                    <div class="corpo">
                        <h5 class="card-title text-warning">Bugatti Chiron</h5>
                        <p class="card-text">Com mais de 1.500 cv de potência, é um dos carros mais rápidos do mundo.</p>
                        <a href="contato.html" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white border border-warning">
                    <div class="image-box">
                        <img src="../Imagens/Imagens/Faça um carro moderno, luxuoso e futurista de cor preta e dourada virada para o lado esquerdo _ (1).jpg" class="card-img-top" alt="Carro 5">
                    </div>
                    <div class="corpo">
                        <h5 class="card-title text-warning">McLaren 720S</h5>
                        <p class="card-text">Super leve e ágil, com motor V8 biturbo de 720 cv.</p>
                        <a href="contato.html" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white border border-warning">
                    <div class="image-box">
                        <img src="../Imagens/Imagens/Faça uma caminhonete moderna e luxuosa sem uma marca de cor preta e dourada_.jpg" class="card-img-top" alt="Carro 6">
                    </div>
                    <div class="corpo">
                        <h5 class="card-title text-warning">Aston Martin DB11</h5>
                        <p class="card-text">Elegância e performance com motor V12 de 630 cv.</p>
                        <a href="contato.html" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <h5>&copy; 2024 Touromotors - Todos os direitos reservados</h5>
            <h5>Endereço: Rua das Máquinas, 123, São Paulo, SP</h5>
            <h5>Email: contato@touromotors.com.br</h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
              <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
              <path d="M16.5 7.5l0 .01" />
              
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-twitter">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z" />
            </svg>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
